body {
margin: 0 auto;
padding-top: 15px;
width: 900px;
background-color: #eeeeee;
}
#title{
font: 24px "メイリオ", Verdana, sans-serif;
background-color: #ffffff;
width: 800px;
height:300px;
text-align:center;
line-height: 300px;
}
#contents{
font: 24px;
background-color: #ffffff;
width: 790px;
height:200px;
padding-top: 10px;
padding-left: 10px;
}
